html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav, p {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: inherit;
}