<h1>Create new User:</h1>
<form action="<%= users_url %>" method="post">
    <input 
        type="hidden" 
        name="authenticity_token" 
        value="<%= form_authenticity_token %>"> 
        
    <label for="user_email">User Email</label>
    <input type="text" name="user[email]" id="user_email" value="<%= @user.username %>"> 
    <br>

    <label for="user_password">User Email</label>
    <input type="password" name="user[password]" id="user_password" value="<%= @user.password %>"> 
    <input type="submit">
</form>
<br>