<h1>Create New User</h1>
<form action="<%= users_url %>" method="POST">
    <label>Username
        <input type="text" name="user[user_name]" value="<%= @user.user_name %>">
    </label>
    <br>
    <label>Password
        <input type="text" name="user[password]" value="<%= @user.password %>">
    </label>
    <br>
    <input type="submit" value="Create User">
</form> 